<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Pathway+Gothic+One" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="style.css" rel="stylesheet">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Petre Popescu - Curiculum Vitae</title>
</head>

<body>
    <div class="spacer">
        <header>
            <h1>Petre Popescu</h1>
            <h4>petrepopescu21@gmail.com<span>+40 727 350 673</span></h4>
        </header>
        <section>
            <div class="container">
                <h2>About me</h2>
                <p class="about-text">
                    A creative professional problem solver with a best of both worlds background in troubleshooting and programming. Quick to
                    master new technologies, experienced in a fast-paced multi-cultural environment and passionate about
                    delivering high quality results.
                </p>
            </div>
        </section>
        <section class="xp-section">
            <div class="container fullwidth">
                <h2>Experience</h2>
                <div class="xp-container">
                    <div class="xp-item">
                        <div class="xp-time">July 2016 - Present</div><i class="fa fa-square bull" aria-hidden="true"></i>
                        <div class="xp-desc">
                            <div class="xp-job-title">Azure App Services Support Engineer</div>
                            <div class="xp-company">Microsoft</div>
                            <div class="xp-job-desc">As a Technical Lead my focus was shifted towards team enabling. This includes handling escalations,
                                technical guidance, skill assessment, management meetings and handling ambiguous situations.
                                During this period I have on-boarded three new hires using one-on-one training sessions and
                                shadowing techniques.
                            </div>
                        </div>
                    </div>
                    <div class="xp-item">
                        <div class="xp-time">July 2015 - June 2016</div><i class="fa fa-square bull" aria-hidden="true"></i>
                        <div class="xp-desc">
                            <div class="xp-job-title">Bug Diagnostics Engineer - Customizations Technical Lead</div>
                            <div class="xp-company">Oracle</div>
                            <div class="xp-job-desc">As a Technical Lead my focus was shifted towards team enabling. This includes handling escalations,
                                technical guidance, skill assessment, management meetings and handling ambiguous situations.
                                During this period I have on-boarded three new hires using one-on-one training sessions and
                                shadowing techniques.
                            </div>
                        </div>
                    </div>
                    <div class="xp-item">
                        <div class="xp-time">July 2015 - June 2016</div><i class="fa fa-square bull" aria-hidden="true"></i>
                        <div class="xp-desc">
                            <div class="xp-job-title">Bug Diagnostics Engineer - Customizations</div>
                            <div class="xp-company">Oracle</div>
                            <div class="xp-job-desc">Bug Diagnostics Engineers are the top support tier in Oracle. Focused on customizable areas of
                                Oracle Service Cloud, public APIs and other integrated products (Oracle Policy Automation,
                                LiveLook, Oracle Social Network, etc.), this position requires diagnosing and documenting
                                both product and documentation defects, a strong collaboration with the development team
                                and working with technical customers for troubleshooting custom integrations and implementations.
                            </div>
                        </div>
                    </div>
                    <div class="xp-item">
                        <div class="xp-time">July 2015 - June 2016</div><i class="fa fa-square bull" aria-hidden="true"></i>
                        <div class="xp-desc">
                            <div class="xp-job-title">Technical Support Engineer</div>
                            <div class="xp-company">Oracle</div>
                            <div class="xp-job-desc">Technical support for the Oracle Service Cloud (formerly known as RightNow) cloud-based CRM.
                                During this period I was part of the ‘First Responders’ team as a first point of contact
                                for customers.
                            </div>
                        </div>
                    </div>
                    <div class="xp-item">
                        <div class="xp-time">July 2015 - June 2016</div><i class="fa fa-square bull" aria-hidden="true"></i>
                        <div class="xp-desc">
                            <div class="xp-job-title">Software Developer</div>
                            <div class="xp-company">Ka&amp;Te Associates</div>
                            <div class="xp-job-desc">Developing custom PHP-based web-apps and websites either from ground-up or by adapting existing
                                website frameworks, testing and identifying any technical issues.
                            </div>
                        </div>
                    </div>
                    <div class="xp-item">
                        <div class="xp-time">July 2015 - June 2016</div><i class="fa fa-square bull" aria-hidden="true"></i>
                        <div class="xp-desc">
                            <div class="xp-job-title">System Administrator</div>
                            <div class="xp-company">Ka&amp;Te Associates</div>
                            <div class="xp-job-desc">Monitoring and maintaining the computer systems, servers, databases and network of clients; Troubleshooting
                                software and hardware issues; Upgrading and optimizing information systems; Offering direct
                                support and feedback to clients via phone, email or a ticketing system.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="skills">
            <h5>Petre Popescu<span>petrepopescu21@gmail.com</span><span>+40 727 350 673</span></h5>
        </section>
        <section class="xp-section">
            <div class="container fullwidth">
                <h2>Soft Skills</h2>
                <p>Almost 4 years of experience in direct customer support in an international and multi-cultural environment
                    Both a great team worker and an emphatic leader with experience in setting the team up for success by
                    understanding individual needs and offering the proper help with long term positive effects. Fluent in
                    English and Romanian.</p>
            </div>
        </section>
        <section class="xp-section">
            <div class="container fullwidth">
                <h2>Technical Skills</h2>
                <p>
                    Pork brisket pork loin short ribs sirloin jerky filet mignon ball tip ground round biltong leberkas. Pastrami salami tri-tip
                    porchetta pork loin pig tenderloin meatloaf rump filet mignon corned beef sirloin fatback. Tenderloin
                    pork chop pastrami rump, strip steak flank bacon landjaeger. Short loin bresaola pastrami pig pork loin
                    porchetta shankle. Meatball tongue ball tip, kielbasa jowl alcatra sausage spare ribs pastrami pork bresaola
                    jerky. Shankle jerky landjaeger shank ham hock, porchetta brisket venison filet mignon pig bacon pork
                    chop sirloin. Kielbasa rump boudin cow andouille t-bone alcatra beef ribs doner porchetta biltong frankfurter
                    strip steak.
                </p>
            </div>
        </section>
        <section class="xp-section">
            <div class="container fullwidth">
                <h2>Certifications</h2>
                <div class="cert-container">
                    <div class="cert-title">Exam 533 - Implementing Microsoft Azure Infrastructure Solutions</div>
                    <div class="cert-issuer">Microsoft</div>
                    <div class="cert-date">June 2017</div>
                </div>
                <div class="cert-container">
                    <div class="cert-title">Certificate in Advanced English - Council of Europe Level C1</div>
                    <div class="cert-issuer">University of Cambridge</div>
                    <div class="cert-date">June 2016</div>
                </div>
            </div>
        </section>
        <section class="xp-section">
            <div class="container fullwidth">
                <h2>Education</h2>
                <div class="xp-container">
                    <div class="xp-item">
                        <div class="xp-time">2013-2015</div><i class="fa fa-square bull" aria-hidden="true"></i>
                        <div class="xp-desc">
                            <div class="xp-job-title">Master of Engineering (MEng) - Database Administration</div>
                            <div class="xp-company">"Politehnica" University of Bucharest - Faculty of Automatic Control and Computer Science</div>
                            <div class="xp-job-desc">Field of Study: Data Modeling/Warehousing and Database Administration.<br>Dissertation thesis:
                                Software solution for optimization personnel recruitment based on data mining technologies
                                - "Recruitment Helper"
                            </div>
                        </div>
                    </div>
                    <div class="xp-item">
                        <div class="xp-time">2008-2012</div><i class="fa fa-square bull" aria-hidden="true"></i>
                        <div class="xp-desc">
                            <div class="xp-job-title">Bachelor of Engineering (BEng) - Applied Electronics</div>
                            <div class="xp-company">"Politehnica" University of Bucharest - Faculty of Electronics, Telecommunications and Information
                                Technology
                            </div>
                            <div class="xp-job-desc">Field of Study: Electronics and Telecomunication with a focus on applied electronics.<br>Diploma
                                thesis: Residence Automation based on integrated programmable devices.
                            </div>
                        </div>
                    </div>
                    <div class="xp-item">
                        <div class="xp-time">2004-2008</div><i class="fa fa-square bull" aria-hidden="true"></i>
                        <div class="xp-desc">
                            <div class="xp-job-title">Highschool</div>
                            <div class="xp-company">"Alexandru Ioan Cuza" Theoretical Highschool of Bucharest</div>
                            <div class="xp-job-desc">Mathematics and Programming, intensive Programming program</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <aside>
            <a class="button" id="print"><i class="fa fa-print" aria-hidden="true"></i></a>
            <a class="button" id="download" href="/download" download="Petre_POPESCU_CV.pdf"><i class="fa fa-download" aria-hidden="true"></i></a>
            <a class="button" id="github" href="https://github.com/petrepopescu21/cv" ><i class="fa fa-github" aria-hidden="true"></i></a>
        </aside>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.min.js"></script>
    <script>
        document.getElementById("download").addEventListener("click", downloadAction);
        document.getElementById("print").addEventListener("click", printAction);
        document.getElementById("github").addEventListener("click", githubAction);
        function printAction() { action("print"); window.print(); }
        function downloadAction() { action("download") }
        function githubAction() { action("github") }

        function action(x) {
            axios.post("/action", {
                action: x
            })
                .then(function (response) {
                })
                .catch(function (error) {
                    console.log(error);
                });
        }
    </script>
</body>

</html>